
body{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
.name{
    color: darkorange;
}

.half{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}

.half img{

    width: 100%;
    margin-top: 10px;

}
.top_image{

    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    color: cornsilk;
    padding: 10px 20px;
    border-radius: 10px;
}